{% extends 'base.html' %}

{% block title %}
Create Resume
{% endblock %}


{% block content %}

{% load static %}

<div style="margin-top:50px;">
    <form enctype=" multipart/form-data" action="{% url 'app:create-resume' %}" method="POST">
        {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            error
        </div>
        {% endif %}

        {% csrf_token %}

        <div class="form-group">
            <label for="exampleInputEmail1">{{ form.full_name.label }}</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Full Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">{{ form.email.label }}</label>
            <input type="email" class="email-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="name@example.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.address.label }}</label>
            <input type="Text" class="form-control" id="exampleInputPassword1" placeholder="Address">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.phone.label }}</label>
            <input type="phonenumber" class="form-control" id="exampleInputPassword1" placeholder="Mobile">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.about_you.label }}</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Few words about yourself.">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.education.label }}</label>
            <input type="Text" class="form-control" id="exampleInputPassword1" placeholder="Education details">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.career.label }}</label>
            <input type="Text" class="form-control" id="exampleInputPassword1" placeholder="Career">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.job_1_start.label }}</label>
            <input type="Date" class="form-control" id="exampleInputPassword1" placeholder="job_1_start">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.job_1_end.label }}</label>
            <input type="Date" class="form-control" id="exampleInputPassword1" placeholder="job_1_end">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.job_1_details.label }}</label>
            <input type="Text" class="form-control" id="exampleInputPassword1" placeholder="job_1_details">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.job_2_start.label }}</label>
            <input type="Date" class="form-control" id="exampleInputPassword1" placeholder="job_2_start">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.job_2_end.label }}</label>
            <input type="Date" class="form-control" id="exampleInputPassword1" placeholder="job_2_end">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.job_2_details.label }}</label>
            <input type="Text" class="form-control" id="exampleInputPassword1" placeholder="job_2_details">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.job_3_start.label }}</label>
            <input type="Date" class="form-control" id="exampleInputPassword1" placeholder="job_3_start">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.job_3_end.label }}</label>
            <input type="Date" class="form-control" id="exampleInputPassword1" placeholder="job_3_end">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.job_3_details.label }}</label>
            <input type="Text" class="form-control" id="exampleInputPassword1" placeholder="job_3_details">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.references.label }}</label>
            <input type="Text" class="form-control" id="exampleInputPassword1" placeholder="references">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{ form.image.label }}</label>
            <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Profile Picture">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}